In [2]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=181fd36424b8e66da3e2de96e2c8d8bcc46e71390ceb26eeb059073099a03969
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [10]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("sales_data.csv").getOrCreate()
df = spark.read.csv("sales_data.csv", sep = "\t",header=True)
df.show()

+---------------------------------------------------------------------------------------+
|OrderID, CustomerID, OrderDate, ProductID, ProductName, Quantity, UnitPrice, TotalPrice|
+---------------------------------------------------------------------------------------+
|                                                                   1, 1001, 2022-01-...|
|                                                                   2, 1002, 2022-01-...|
|                                                                   3, 1003, 2022-01-...|
|                                                                   4, 1001, 2022-01-...|
|                                                                   5, 1002, 2022-01-...|
|                                                                   6, 1003, 2022-02-...|
|                                                                   7, 1001, 2022-02-...|
|                                                                   8, 1002, 2022-02-...|
|                                                                   9, 1003, 2022-02-...|
|                                                                   10, 1001, 2022-02...|
+---------------------------------------------------------------------------------------+

In [4]:
!wget https://raw.githubusercontent.com/pathwaytipsorg/data-engineer/main/data/csv/sales_data.csv

--2024-09-22 14:42:11--  https://raw.githubusercontent.com/pathwaytipsorg/data-engineer/main/data/csv/sales_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 570 [text/plain]
Saving to: ‘sales_data.csv’

sales_data.csv      100%[===================>]     570  --.-KB/s    in 0s

2024-09-22 14:42:11 (26.0 MB/s) - ‘sales_data.csv’ saved [570/570]

In [11]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("sales_data.csv").getOrCreate()
df = spark.read.csv("sales_data.csv",sep = ",",header=True).show()

+-------+-----------+-----------+----------+------------+---------+----------+-----------+
|OrderID| CustomerID|  OrderDate| ProductID| ProductName| Quantity| UnitPrice| TotalPrice|
+-------+-----------+-----------+----------+------------+---------+----------+-----------+
|      1|       1001| 2022-01-01|         1|      Laptop|        2|      1000|       2000|
|      2|       1002| 2022-01-02|         2|  Smartphone|        3|       800|       2400|
|      3|       1003| 2022-01-03|         1|      Laptop|        1|      1000|       1000|
|      4|       1001| 2022-01-04|         3|  Headphones|        2|        50|        100|
|      5|       1002| 2022-01-05|         1|      Laptop|        2|      1000|       2000|
|      6|       1003| 2022-02-01|         2|  Smartphone|        4|       800|       3200|
|      7|       1001| 2022-02-02|         1|      Laptop|        1|      1000|       1000|
|      8|       1002| 2022-02-03|         3|  Headphones|        1|        50|         50|
|      9|       1003| 2022-02-04|         2|  Smartphone|        2|       800|       1600|
|     10|       1001| 2022-02-05|         1|      Laptop|        3|      1000|       3000|
+-------+-----------+-----------+----------+------------+---------+----------+-----------+

In [12]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("population_by_age.tsv").getOrCreate()
df = spark.read.csv("sales_data.csv",sep = ",",header=True)
df.show()

+-------+-----------+-----------+----------+------------+---------+----------+-----------+
|OrderID| CustomerID|  OrderDate| ProductID| ProductName| Quantity| UnitPrice| TotalPrice|
+-------+-----------+-----------+----------+------------+---------+----------+-----------+
|      1|       1001| 2022-01-01|         1|      Laptop|        2|      1000|       2000|
|      2|       1002| 2022-01-02|         2|  Smartphone|        3|       800|       2400|
|      3|       1003| 2022-01-03|         1|      Laptop|        1|      1000|       1000|
|      4|       1001| 2022-01-04|         3|  Headphones|        2|        50|        100|
|      5|       1002| 2022-01-05|         1|      Laptop|        2|      1000|       2000|
|      6|       1003| 2022-02-01|         2|  Smartphone|        4|       800|       3200|
|      7|       1001| 2022-02-02|         1|      Laptop|        1|      1000|       1000|
|      8|       1002| 2022-02-03|         3|  Headphones|        1|        50|         50|
|      9|       1003| 2022-02-04|         2|  Smartphone|        2|       800|       1600|
|     10|       1001| 2022-02-05|         1|      Laptop|        3|      1000|       3000|
+-------+-----------+-----------+----------+------------+---------+----------+-----------+

In [13]:
from pyspark.sql.functions import when

df = df.select('OrderID',' CustomerID',' OrderDate',' ProductName',' Quantity',' UnitPrice',' TotalPrice')
df.show()

+-------+-----------+-----------+------------+---------+----------+-----------+
|OrderID| CustomerID|  OrderDate| ProductName| Quantity| UnitPrice| TotalPrice|
+-------+-----------+-----------+------------+---------+----------+-----------+
|      1|       1001| 2022-01-01|      Laptop|        2|      1000|       2000|
|      2|       1002| 2022-01-02|  Smartphone|        3|       800|       2400|
|      3|       1003| 2022-01-03|      Laptop|        1|      1000|       1000|
|      4|       1001| 2022-01-04|  Headphones|        2|        50|        100|
|      5|       1002| 2022-01-05|      Laptop|        2|      1000|       2000|
|      6|       1003| 2022-02-01|  Smartphone|        4|       800|       3200|
|      7|       1001| 2022-02-02|      Laptop|        1|      1000|       1000|
|      8|       1002| 2022-02-03|  Headphones|        1|        50|         50|
|      9|       1003| 2022-02-04|  Smartphone|        2|       800|       1600|
|     10|       1001| 2022-02-05|      Laptop|        3|      1000|       3000|
+-------+-----------+-----------+------------+---------+----------+-----------+

In [14]:
renamed_df = df.toDF('OrderID_L', 'CustomerID_L', 'OrderDate_L', 'ProductName_L', 'Quantity_L', 'UnitPrice_L', 'TotalPrice_L')
renamed_df.show()

renamed_df.printSchema()

+---------+------------+-----------+-------------+----------+-----------+------------+
|OrderID_L|CustomerID_L|OrderDate_L|ProductName_L|Quantity_L|UnitPrice_L|TotalPrice_L|
+---------+------------+-----------+-------------+----------+-----------+------------+
|        1|        1001| 2022-01-01|       Laptop|         2|       1000|        2000|
|        2|        1002| 2022-01-02|   Smartphone|         3|        800|        2400|
|        3|        1003| 2022-01-03|       Laptop|         1|       1000|        1000|
|        4|        1001| 2022-01-04|   Headphones|         2|         50|         100|
|        5|        1002| 2022-01-05|       Laptop|         2|       1000|        2000|
|        6|        1003| 2022-02-01|   Smartphone|         4|        800|        3200|
|        7|        1001| 2022-02-02|       Laptop|         1|       1000|        1000|
|        8|        1002| 2022-02-03|   Headphones|         1|         50|          50|
|        9|        1003| 2022-02-04|   Smartphone|         2|        800|        1600|
|       10|        1001| 2022-02-05|       Laptop|         3|       1000|        3000|
+---------+------------+-----------+-------------+----------+-----------+------------+

root
 |-- OrderID_L: string (nullable = true)
 |-- CustomerID_L: string (nullable = true)
 |-- OrderDate_L: string (nullable = true)
 |-- ProductName_L: string (nullable = true)
 |-- Quantity_L: string (nullable = true)
 |-- UnitPrice_L: string (nullable = true)
 |-- TotalPrice_L: string (nullable = true)